<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barometric Pressure Reading</title>
    <style>
    table,th,td {border: 1px solid black;}
    </style>
<body>
<h1>Barometric Pressure Reading - Welcome Back!</h1>
<h2>EMC Lab</h2>
<h3>Today's Reading</h3>
<ul>
    <li>Barometric Pressure - Atmospheric Pressure</li>
    <li>Temperature - Thermal Flow of Energy</li>
    <li>Time - Measurement Time</li>
    <li>Humidity - Precipitation</li>
</ul>
<table style="width:30%">
    <tr>
        <th>Location</th>
        <th>Barometric Pressure</th>
        <th>Temperature</th>
        <th>Current Time</th>
        <th>Humidity</th>
    </tr>
    <tr>
        <td>Rochester, MN</td>
        <td>
           <button type=>
              <a href="https://www.timeanddate.com/weather/usa/rochester-mn">Click To View</a>
            </button>
        </td>
        <td>
            <button type=>
              <a href="https://www.timeanddate.com/weather/usa/rochester-mn">Click To View</a>
            </button>
        </td>
        <td>
            <button type=>
              <a href="https://www.timeanddate.com/weather/usa/rochester-mn">Date and time</a>
            </button>
        </td>
        <td>
            <button type=>
              <a href="https://www.timeanddate.com/weather/usa/rochester-mn">Click To View</a>
            </button>
        </td>
    </tr>
    </table>
</body>
<footer>
    <h4>This page is for lab purpose ONLY. Contact Omer for more information</h4>
</footer>
</html>